<!DOCUTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <h1>Welcome to Recipe Digitizer</h1>
    <table backgroundcolor="green">
      <th><a href="/new">Enter New</a></th>
      <th><a href="/recipes">View All</a></th>
    </table>
  </body>
</html>