
    <h1>Complete the recipe form below</h1>
      <form action="/recipes" method="POST">
        <table backgroundcolor="green">
          <th>
          <label for="name">Name</label>
          <input id="name" type="text" name="name" placeholder="Enter Recipe Name">
          </th>

          <th>
          <label for="ingredients">Ingredients</label>
          <textarea id="ingredients" type="text" name="ingredients" placeholder="Enter Ingredients"></textarea>
          </th>

          <th>
          <label for="cook_time" alignleft="true">Cook Time</label>
          <input id="cook_time" type="text" name="cook_time" placeholder="Enter Cook Time">    
          </th>
        </table>
        <input id="new_entry" type="submit" value="Log Recipe">
      </form>
