<h1>Your Digitized Recipes</h1>
<h2>Look how good you're cooking...</h2>
<h3>Recipe No. <% @recipe.id %> - <%= @recipe.name %></h3>
<h3>Cook Time: <%= @recipe.cook_time %> minutes</h3>
<h3>Ingredients: <%= @recipe.ingredients %></h3> 
<table backgroundcolor="green">
  <th><a href="/recipes/new">Enter New Recipe</a></th>
  <th><a href="/recipes">View All Recipes</a></th>
</table>